* {
  box-sizing: border-box;
}

body {
  background-image: url("https://elearningart.com/wp-content/uploads/2015/10/Slide3103.gif");
  background-color: green;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Arial";
}

div.b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 50%;
}

.button {
  background-color: tomato;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2em 5%;
  cursor: pointer;
  border-radius: 1em;
}

.btn-active {
  background-color: white;
}

div.h {
  font-size: 40px;
  text-align: center;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }

.fa,.fa-bars {
  font-size: 50px;
}
.heading {
  margin-top: -2em;
  margin-bottom: 0;
}
fa:hover,
.fa-bars:hover {
  color: tomato;
}

.timer {
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  font-size: xx-large;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-top: 7em;
}

@media(max-width: 477px) {

  .heading {
    margin-top: 0;
    margin-bottom: -1em;
  }
}