 <style>
    body  {
    background-color:green;
    }
div.b{
         border: 1px solid black;
         margin-top: 100px;
         margin-bottom: 100px;
         margin-right: 555px;
         margin-left: 590px;
         background-color:yellow;
     }

.button {
background-color: f44336;
border:none;
color:blue;
padding: 10x 2px;
text-align:center;
text-decoration:none;
display: inline-block;
font-size:16px;
margin: 10px 10px;
cursor: pointer;
}
.button1 {padding: 10px 10px;}
.button2 {padding: 10px 10px;}

div.h {
 font-size:40px;
 text-align: center;
}

</style>