* {
  box-sizing: border-box;
}

body {
  
  background-size: 100vw 100vh;
  font-family: "Arial";
  padding: 0;
  background: linear-gradient(black, white);
  height: 100vh;
  margin: 0;
}

div.b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 50%;
}

.button {
  padding: 10px 10px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  margin: 2em 5%;
  cursor: pointer;
  border: 1px solid black;
}

.upper-button {


  margin: 0;
  width: 300px;
}

.start-button {
  background-color: #34eb83;
}

.start-button:hover {
  background-color: #29c453;
}

.stop-button {
  background-color: #fa4639;
}

.stop-button:hover {
  background-color: #e83225;
}

.reset-button {
  background-color: #b0adac;
}

.reset-button:hover {
  background-color: #948f8e;
}

.pomodoro-button {
  background-color: skyblue;
}

.short-break-button {
  background-color: skyblue;
}

.long-break-button {
  background-color: skyblue;
}


.btn-active {
  background-color: #3295a8;
}

div.h {
  font-size: 40px;
  text-align: center;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.fa,
.fa-bars {
  font-size: 50px;
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  font-family: "Graphique";
}

.timer {
  background-color: darkwhite;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  text-decoration: bold;
  font-size: 50px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-top: 7em;
}

/*
@media(max-width: 477px) {

  .heading {
    margin-top: 0em;
    margin-bottom: -1em;
    
  }
 
}*/


.settings-popup-hidden {
  
  display:none;
}
  
.settings-popup-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  background: linear-gradient(white, black);
  z-index: 2;
  position: absolute;
  border: 1px solid black;
  padding: 20px;
}
.settings-button{
  background-color:white;
   font-size: 16px;
   border: 1px solid black;
}
