*{
  box-sizing: border-box;
}

body {
  background-image: url("https://www.pexels.com/photo/analog-clock-sketch-in-black-surface-745365/");
  background-color:darkwhite;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: "Arial";
}

div.b {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 50%;
}

.button {
  background-color:green;
  border:none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: bold;
  display: inline-block;
  font-size: 16px;
  margin: 2em 5%;
  cursor: pointer;
}
.start-button{background-color:green;}
.stop-button{background-color:red;}
.reset-button{background-color:grey;}
.pomodoro-button{background-color:skyblue;}
.short-break-button{background-color:skyblue;}
.long-break-button{background-color:skyblue;}


.btn-active {
  background-color: white;
}

div.h {
  font-size: 40px;
  text-align: center;
}

.row-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  }

.fa,.fa-bars {
  font-size: 50px;
}
.heading {
  margin-top: -1.55em;
  margin-bottom: 0;
  color:white;
   font-family:"Graphique";
   background-color:orange;
}
fa:hover,
.fa-bars:hover {
  color: tomato;
}

.timer {
  background-color:darkwhite;
  padding: 1em;
  border-radius: 50%;
  text-align: center;
  text-decoration: bold;
  font-size: 50px;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

main {
  margin-top: 7em;
}

@media(max-width: 477px) {

  .heading {
    margin-top: 0;
    margin-bottom: -1em;
    
  }
}
